<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aventura - Inicio</title>
</head>
<body>
<h1>Generar Aventura</h1>
<form th:action="@{/aventura/start}" method="post" th:object="${adventureRequest}">
    Género: <input type="text" th:field="*{genre}"/><br/>
    Protagonistas: <input type="number" th:field="*{protagonists}"/><br/>
    Nombre protagonista: <input type="text" th:field="*{mainCharacterName}"/><br/>
    Descripción protagonista: <input type="text" th:field="*{mainCharacterDescription}"/><br/>
    Duración (corta, media, larga): <input type="text" th:field="*{duration}"/><br/>
    Complejidad (baja, media, alta): <input type="text" th:field="*{complexity}"/><br/>
    Ubicación: <input type="text" th:field="*{location}"/><br/>
    <button type="submit">Iniciar aventura</button>
</form>
</body>
</html>
